// wxs可直接用于 wxml 中格式化数据
// wxs中不支持ES6

function formatCount(count) {
    var counter = parseInt(count)
    if (counter > 100000000) {
        return (counter / 100000000).toFixed(1) + '亿'
    } else if (counter > 10000) {
        return (counter / 10000).toFixed(1) + '万'
    } else {
        return counter + ''
    }
}
// 只能使用commonjs方式导出
module.exports = {
    formatCount: formatCount
}